@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button {
    display: none;
}
@media (max-width: 768px) {
    .menu-button {
        display: inline-block;
    }
    .nav-items {
        display: none;
    }
    .nav-items.expanded {
        display: block;
    }
}

html{
    scroll-behavior: smooth;

  }

  body {
    font-family: "Kanit", 'sans-serif';
  }

  @font-face {
    font-family: 'Gza';
    src: url('fonts/Gza-SemiBoldItalic.ttf') format('truetype'), 
         url('fonts/Gza-SemiBoldItalic.woff') format('woff'),
         url('fonts/Gza-SemiBoldItalic.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
    }

    .fonte-personalizada {
        font-family: 'Gza';
    }



.custom-after:hover::after {
    content: "";
    display: block;
    color: #fff; 
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: "Kanit" , 'sans-serif';
    

  }


#ze_felipe:hover::after {
    content: "Zé Felipe | Coloca o Capacete" "\A 2ª Assistente de Produção";
    white-space: pre;
}
#negao_original:hover::after {
    content: "MC Negão Original | Espaço de Voz" "\A Direção de Produção e Produção Executiva";
    white-space: pre;
}
#desabafo:hover::after {
    content: "Desabafo | MC GP, Tuto e Kadu" "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#arana_livinho:hover::after {
    content: "MC Livinho, DJ Arana e DJ Jeeh FDC | AMOR É MENTIRA" "\A Direção de Produção, Produção Executiva e Assistência Criativa";
    white-space: pre;
    
}
#anitta_hitmaker:hover::after {
    content: "Anitta feat. HITMAKER | NU" "\A Assistente de Coord. Hungry Man e 1ª Assist. Produção";
    white-space: pre;
}
#anitta_ryan:hover::after {
    content: "Anitta feat. Ryan SP | VAI VENDO" "\A Assistente de Coord. Hungry Man e 1ª Assist. Produção";
    white-space: pre;
}
#pedro_sampaio:hover::after {
    content: "Pedro Sampaio, MC Tato | JOIA RARA" "\A 1ª Assistente de Produção";
    white-space: pre;
}
#mc_lan:hover::after {
    content: "Mete Love | MC Lan e Kotim" "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#pecinha:hover::after {
    content: "PECINHA NÍVEL 10 | DJ Arana, Yuri Redicopa e Meno Saaint " "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#pouco_papo:hover::after {
    content: "POUCO PAPO E MUITO VAPO | DJ Jeeh FDC e MC Arcanjo" "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#sentido_e_o_baile:hover::after {
    content: "SENTIDO É O BAILE | Luana Maia e DJ KLP" "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#sesh_delas:hover::after {
    content: "SESH DELAS | Nivy, Mabapp,Lorak,Barona, Bjay,Lais Rosa,Nanda tsunami,Bia soull,Dayômi,Vmaria,Aycee" "\A ⁠Direção de Produção e Produção Executiva";
    white-space: pre;
}
#tchau_bella:hover::after {
    content: "TCHAU, BELLA! | Netflix Brasil" "\A 2ª Assistente de Produção";
    white-space: pre;
}
#se_joga_no_boom:hover::after {
    content: "SE JOGA NO BOOM | Free Fire" "\A 1ª Assistente de Produção";
    white-space: pre;
}
#texaco:hover::after {
    content: "Texaco" "\A ⁠Assistente de Produção de Locação ";
    white-space: pre;
}
#volkswagen:hover::after {
    content: "Volkswagen | Tiguan" "\A 1ª Assistente de Produção";
    white-space: pre;
}
#beijo_adolescente:hover::after {
    content: "Beijo Adolescente | MAX" "\A Aux. de Produção de Biossegurança";
    white-space: pre;
}
#hotwhells:hover::after {
    content: "Hotwhells | SBT" "\A ⁠Produtora";
    white-space: pre;
}
#claro:hover::after {
    content: "Claro | Copa" "\A ⁠2ª Assistente de Produção";
    white-space: pre;
}
#deezer:hover::after {
    content: "Deezer" "\A ⁠1ª Assistente de Produção";
    white-space: pre;
}
#globoplay:hover::after {
    content: "GLOBOPLAY | 40M²" "\A Produtora";
    white-space: pre;
}
#hypebeast:hover::after {
    content: "Hypebeast | Whatsapp" "\A ⁠1ª Assistente de Produção";
    white-space: pre;
}

.selection-item-image {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }
  
  .selection-item-image:hover img {
    transform: scale(1.20);
  }
  
  .selection-item-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
    
  }


 
  