@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button {
    display: none;
}
@media (max-width: 768px) {
    .menu-button {
        display: inline-block;
    }
    .nav-items {
        display: none;
    }
    .nav-items.expanded {
        display: block;
    }
}

html{
    scroll-behavior: smooth;

  }

  body {
    font-family: "Kanit", 'sans-serif';
  }

  @font-face {
    font-family: 'Gza';
    src: url('fonts/Gza-SemiBoldItalic.ttf') format('truetype'), 
         url('fonts/Gza-SemiBoldItalic.woff') format('woff'),
         url('fonts/Gza-SemiBoldItalic.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
    }

    .fonte-personalizada {
        font-family: 'Gza';
    }



.custom-after:hover::after {
    content: "";
    display: block;
    color: #fff; 
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: "Kanit" , 'sans-serif';
    

  }

#anitta_freefire:hover::after {
    content: "Anitta | Free Fire"
}
#beijo_adolescente:hover::after {
    content: "Beijo Adolescente | MAX";
}
#ze_felipe:hover::after {
    content: "Zé Felipe | Coloca o Capacete"
}
#negao_original:hover::after {
    content: "MC Negão Original | Espaço de Voz"
}
#deezer:hover::after {
    content: "Deezer"
}
#arana_livinho:hover::after {
    content: "MC Livinho, DJ Arana e DJ Jeeh FDC | AMOR É MENTIRA"
}
#honda:hover::after {
    content: "Honda Facilita"
}
#pedro_sampaio:hover::after {
    content: "Pedro Sampaio, MC Tato | JOIA RARA"
}
#hotwhells:hover::after {
    content: "Hotwhells | SBT"
}
#iza_olympikus:hover::after {
    content: "IZA x Oliympikus | O Movimento"
}
#anitta_hitmaker:hover::after {
    content: "Anitta feat. HITMAKER | NU"
}
#anitta_ryan:hover::after {
    content: "Anitta feat. Ryan SP | VAI VENDO"
}
#pizza_hut:hover::after {
    content: "Pizza Hut | Melts"
}
  
.selection-item-image {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }
  
  .selection-item-image:hover img {
    transform: scale(1.20);
  }
  
  .selection-item-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
    
  }

  .altura-carrossel-imagens {
    height: 30rem;
  }
  .altura-carrossel-imagens-mobile {
    height: 20rem;
  }

  .carrossel-videos-mobile {
    height: 20rem;
  }


 
  